/* Test out BG color */
* {
  background-color: rgb(234, 236, 241);
}
/* Font color */
* {
  color: blueviolet;
}
/* Change navigation Color (Check why h1 BG didnt change */
nav {
  background-color: aqua;
}

p{
  color: black;
}